# IntelliJ
*.iml
*.iws
*.ipr
.idea/

# Gradle
.gradle
build/
out/
baselines/
!gradle/wrapper/gradle-wrapper.jar
buildSrc/.gradle
buildSrc/build/

# Misc
*.orig
*.log

# Application text files
baseline.txt
toApprove.txt

