# IntelliJ
*.iml
*.iws
*.ipr
.idea/

# Gradle
.gradle
/build/
/out/
!gradle/wrapper/gradle-wrapper.jar
buildSrc/.gradle
buildSrc/build/

# Misc
*.orig
*.log

# Application text files
baseline.txt
toApprove.txt
/baselines/